/*
 * GRILLES
** =============================================================== */
/* Main */
.section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px 8px;
    margin-bottom: 15px;
    animation : section 1s ease alternate;
}
@keyframes section {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;              
    }
}
.section > *{
    grid-column: 1 / -1;
    padding: 20px 15px 0px 15px;
}
.section__img{
    max-width: 98%;
    margin-top: 10px;
    padding: 0;
}
.section__img--validateur{
    width: 157px;
    justify-self: center;
}
.section--bottom{
    margin-bottom: 50px;
    // margin-top: 72px;
}
.section__p > p{
    padding-top: 15px;
} 
/* FOOTER */

.footer__liste{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 15px 10px 15px;
    max-width: 340px;
    margin: auto;
}
.footer__el--createurs{
    justify-self: end;
    // justify-items:end;
}


@media screen and (min-width: 768px) {
    .section{
        // display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 16px 36px;
        // padding: 15px;
        padding-bottom: 30px;
        .section__img, .section__p{
            align-self:center;
        }
    }
    .footer__liste{
        max-width: 768px;
    }
    .section > p{
        max-width: 430px;
        padding-bottom: 10px;
    }  
    .section__p > p{
        padding-bottom: 15px;
    } 
    .section > *{
        padding: 15px;
    }
    .section__img--train{
        padding: 0px;
    }
    /* DEBUT GRILLE */
    .tgrid-start3 {
        grid-column-start: 3;
    }
    .tgrid-start4 {
        grid-column-start: 4;
    }
    /* FIN GRILLE */
    .tgrid-end3 {
        grid-column-end: 3;
    }
    .tgrid-end4 {
        grid-column-end: 4;
    }
    // ROW
    .tgridRow-start1 {
        grid-row-start: 1;
    }
    .tgridRow-end3 {
        grid-row-end: 3;
    }
    .tgridRow-end4 {
        grid-row-end: 4;
    }
}


@media screen and (min-width: 1440px) {
    .footer__liste{
        max-width: 1400px;
    }
    .section > *{
        padding: 25px;
    }
}