/*
 * LAYOUT
** =============================================================== */

/* HEADER */
.header{
    max-width: 340px;
    margin: auto;
}
.body{
    overflow: hidden;
}
.logo{
    display: block;
    width:90px;
    height: 69px;
    max-width: 100%;
    margin: auto;
}
.logo__img{
    width:90px;
    padding: 10px;
}
/* MAIN */
// .section:first-child{
//     margin-top: 36px;
// }
.section--white{
    background-color: var(--color-background-variant);
    padding: 30px 0px 15px 0px;
}
.section{
    max-width: 340px;
    margin: auto;
}
.none{
    display: none;
}
.btn{
    margin-top: 18px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-radius: 28px;
    padding: 15px 60px;
    text-transform: uppercase;
    border: solid 2px var(--color-primary);
}
.btn:hover{
    background-color: inherit;
    color: var(--color-primary);
    border: solid 2px var(--color-primary);
}
.section__img--train{
    animation : train 3s ease alternate;
    // animation-delay: 1s;
}
@keyframes train {
    0% {
        transform: translateX(-350px);
    }
}






// FOOTER
.footer{
    width: 100%;
    height: 100%;
    border-radius: 100% 100% 0 0;
    background: var(--color-background-variant);
    color: var(--color-on-background-variant);
}
.footer__createurs{
    display:flex;
    list-style: none;

    .createurs__el{
      padding-right: 10px;
    }
}
.footer__lien{
    color: var(--color-on-background-variant);
    text-transform: uppercase;
    &:hover{
        color: var(--color-primary);
    }
}

@media screen and (min-width: 768px) {
//     .body{
//         max-width: 650px;
//         margin: auto;
//     }
    .section{
        max-width: 768px;
    }
    @keyframes train {
        0% {
            transform: translateX(-750px);
        }
    }
    
}





@media screen and (min-width: 1440px) {
    // .body{
    //     max-width: 1340px;
    //     margin: auto;
        
    //     overflow: hidden;
    // }
    .section{
        max-width: 1440px;
    }
    @keyframes train {
        0% {
            transform: translateX(-1400px);
        }
    }
    .header {
        max-width: inherit;
        margin: 0px;
    }
    .logo{
        margin: inherit;
        padding-left: 40px;
        padding-top: 10px;
    }
}