/*
 * TYPOGRAPHIES
** =============================================================== */

@use "_var.scss" as v;


.body{
    font-family: v.$font-text;
    font-size: 1em;
    line-height: 1.5;
    color: var(--color-on-background);
    background-color: var(--color-background);
}

/* Styles des TITRES */
.title{
    font-size: 1.8888888888888888em;
    font-family: v.$font-title;
}
.title--niveau2{
    font-size: 1.5em;
}
.title--niveau3{
    font-size: 1.2222222222222223em;
}

/* NONE */
.title--hidden{
    display: none;
}

/* Main */
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}

@media screen and (min-width: 1440px) {
    .body{
        font-size: 1.3em; 
    }
    .title{
        font-size:3.1666666666666665em;
    }
    .title--niveau2{
        font-size: 2.388888888888889em;
    }
    .title--niveau3{
        font-size: 1.7777777777777777em;
    }

}