/*
 * VARIZBLES
** =============================================================== */

/* Color and DarkTheme */
:root{
	--color-primary:			  #001D86;
	--color-background:			  #CDB4DB;
	--color-background-variant:	  #FEFEFE;
	--color-primary-hover:		  #CDB4DB;
	--color-on-primary:			  #FEFEFE;
	--color-on-background:		  #000;
	--color-on-background-variant:#000;
	--color-on-primary-hover:	  #000;
}


/* Type */

$font-text: 'Varela Round', sans-serif;
$font-title:'Varela Round', sans-serif;
